<div class="col-sm-12 text-center">
  <button class="btn btn-primary" dd-click="startScraper()" dd-disabled="showControls.start"><i class="fa fa-play"></i> START</button>
  <button class="btn btn-primary" dd-click="resumeScraper()" dd-disabled="showControls.resume"><i class="fa fa-play-circle"></i> RESUME</button>
  <button class="btn btn-primary" dd-click="pauseScraper()" dd-disabled="showControls.pause"><i class="fa fa-pause"></i> PAUSE</button>
  <button class="btn btn-primary" dd-click="stopScraper()" dd-disabled="showControls.stop"><i class="fa fa-stop"></i> STOP</button>
</div>
<div class="col-sm-12 text-center">
  <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
</div>